.whole-projects-page{
    width: 90%;
    margin: auto !important;
    padding-bottom: 2%;
}
.projects-title{
    position: relative;
    margin-bottom: 5%;
    }
    .projects-title h1{
        margin-top: 30%;
        padding: 0px 30px;
        font-size: 2.5rem;
        font-weight: 300;
        margin: auto;  
    }
    .projects-title img{
       width: 8%;
       height: auto;
       position: absolute;
       bottom: 0;
       right: 39%;
       z-index: -1;
    }
    .projects{
       text-align: center;
       margin: auto;
    }
    .projects-card{
        background:linear-gradient(245deg,transparent,var(--clr-dark) ) ;
       border-radius: 1rem;
       color:var(--clr-light);
       margin: 2% ;
       backdrop-filter: blur(1rem);
    }
    .projects-card img{
        width: 100%;
        padding: 1rem;
        border-radius: 2rem;
    }
    .btn-demo{
        font-size: 1rem;
        margin: 0% 1%;
        border-radius: 1rem;
        background: linear-gradient(267deg,orange,rgb(185, 3, 161));
        padding: 2% 5%;
        border: 1px solid rgb(244, 176, 19);
        transition: 0.5s;
    }
    .btn-demo:hover{
        border: 3px solid rgb(250, 197, 101);
    }
    .btn-git{
        font-size: 1rem;
        margin: 0% 4%;
        border-radius: 1rem;
        padding: 2% 5%;
        border: 2px solid rgb(185, 3, 161);
        background: none;
        color: var(--clr-light);
        background: linear-gradient(267deg,orange,rgb(185, 3, 161));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .btn-git:hover{
        border: 3px solid rgb(255, 104, 250);
    }